.container-login {
  width: 90%;
}

.container-register {
  width: 100%;
}

.custom-btn {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.custom-bg {
  background-color: deepskyblue;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-login {
    width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-login {
    width: 70%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-login {
    width: 40%;
  }

  .container-register {
    width: 70%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-login {
    width: 35%;
  }

  .container-register {
    width: 69%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
